<div>
<h2>films</h2>
{{response.title}}
{{#each response}}

    <img src="{{image}}" alt="Pelicula" width="150"> 
  
    <h4>{{title}}</h4>  

    <a href="/movies/{{this._id}}">See more</a>

{{/each}}

</div>
