<div id="section-movies" >
<h2>films</h2>
<div class="section-movies-block">
<article class="section-movies-item">
{{response.title}}
{{#each response}}

    <img src="{{image}}" alt="Pelicula" width="150"> 
  
    <h4>{{title}}</h4>  

    <p><a href="/movies/{{this._id}}">See more</a></p>
{{/each}}
</article >
</div>

</div>
