body {
  margin:0;
  padding:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li{
  list-style: none;
}

#iron-films{
  background-image: url("../images/cinema.jpg") ;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;  
  width: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#iron-films h1{
 font-size: 8em;
color: white;
margin: 50px;
}

#iron-films button{
  border-radius: 20px;

  border-style: none;
  background-color: rgba (rgba(166, 166, 255, 0.05));
  margin: 50px;
  width: 25vh;
  height: 10vh;
 }

#section-movies{
  align-items: center;
  width: 1000px;
  height: auto;
  
}

.section-movies-block{
  display: flex;
  align-content: space-around;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


.section-movies-item{
 
  width:150px;
  height: 200px; 
  padding: 20px;
  margin: 20px; 
}

.section-movies-item h4{
  margin:2%;
}
.section-movies-item p{
  margin: 5px 5px 10px 5px;
  flex-direction: row;
  align-items:flex-start;

}

#section-details-general{
  display: flex;

}

#section-details-general img{
 float:left;   
 margin: 30px;
 width: auto;
 height: auto;
}

#movie-details-items h3 h4 h5{
  margin-top: 10px;
  margin-bottom: 5px;
}

#movie-details-items p{
  width: 400px;
  height: auto;
}
